{% extends "base.html" %}

{% block title %}CancerScan - Home{% endblock %}

{% block code %}
<html>
        <div class="container" style="padding-top:15px">
          <div class="row">
            <div class="col-md-6 order-md-last">
              <img src="static/Images/doctorrobot.png" style="height:500px; width:500px;">
            </div>
            <div class="col-md-6">
              <div class="align-items-center">
                <div class="col-md-9 col-lg-8 col-xl-12">
                  <h1 class="display-5 lh-sm" style="padding-bottom: 30px;">Scan for Cancer with CancerScan . . .</h1>
                </div>
                <div class="col-md-9 col-xl-12">
                  <p class="fs-2">Early detection is key when it comes to successfully 
                    treating cancer. With CancerScan, you can take control of your health and stay on top of your cancer screening. Have peace of mind 
                    knowing that you're doing everything you can to stay on top of your health and catch any potential issues before they become more serious. Don't wait until it's too late - start scanning for cancer 
                    with CancerScan today.</p>
                    <form action="/signup">
                      <button class="btn btn-primary mt-3">Get Started!</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      <section>
        <div class="container">
          <div class="px-xl-8 px-md-7">
            <hr class="mt-7 text-1000" />
          </div>
        </div>
      </section>
      <section>
        <div class="container">
          <h1 class="display-6 fw-semi-bold"> Features</h1>
          <p class="fs-2">Our intuitive website helps combat cancer efficiently and in a personalized, engaging and secure way.</p>
          <div class="row mb-4 mt-6">
            <div class="col-md-6">
              <div class="border rounded-1 border-700 h-100 features-items">
                <div class="p-5"><img src="static/assets/img/icon-images-1/clock.png" alt="Dashboard" style="width:48px;height:48px;" />
                  <h3 class="pt-3 lh-base">Intuitive and User Friendly Dashboard</h3>
                  <p class="mb-0">Our intuitive and user friendly dashboard interface makes all the features of CancerScan accessible to anyone, allowing us to have more of an impact.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="border rounded-1 border-700 h-100 features-items">
                <div class="p-5"><img src="static/assets/img/icon-images-1/camera.png" alt="Comment" style="width:48px;height:48px;" />
                  <h3 class="pt-3 lh-base">Skin Cancer Identification With Computer Vision</h3>
                  <p class="mb-0">Our machine learning model coupled with computer vision allows us to accurately identify the risk of skin cancer present in users from a image.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-6">
              <div class="border rounded-1 border-700 h-100 features-items">
                <div class="p-5"><img src="static/assets/img/icon-images-1/mic.png" alt="Tailored" style="width:48px;height:48px;" />
                  <h3 class="pt-3 lh-base">Lung Cancer Identification With Machine Learning</h3>
                  <p class="mb-0">Our machine learning model uses input from users in the form of answers to certain questions to identify the risk of lung cancer in our users.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="border rounded-1 border-700 h-100 features-items">
                <div class="p-5"><img src="static/assets/img/icon-images-1/bot.png" alt="Statistic" style="width:48px;height:48px;" />
                  <h3 class="pt-3 lh-base">AI Powered Chatbot</h3>
                  <p class="mb-0">Our personalized, AI and LLM powered chatbot answers questions and provides users with more information about their condition through GPT-4 and prompt chaining with Voiceflow.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="border rounded-1 border-700 h-100 features-items">
                <div class="p-5"><img src="static/assets/img/squiggly.png" alt="Profiles" style="width:48px;height:48px;" />
                  <h3 class="pt-3 lh-base">Mental Training System</h3>
                  <p class="mb-0">Our AI powered mental training system provides users with helpful and personalized mental excersises through GPT-4 and prompt chaining with Voiceflow.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6" style="padding-top: 48px;">
              <div class="border rounded-1 border-700 h-100 features-items">
                <div class="p-5"><img src="static/assets/img/icon-images-1/run.png" alt="Folders" style="width:48px;height:48px;" />
                  <h3 class="pt-3 lh-base">Physical Excersise Guidance System</h3>
                  <p class="mb-0">Our physical excersise guidance system helps users stay in good shape for better treatment outcomes and improved overall health through GPT-4 and prompt chaining with Voiceflow.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6" style="padding-top: 48px;">
              <div class="border rounded-1 border-700 h-100 features-items">
                <div class="p-5"><img src="static/assets/img/icon-images-1/rewards.png" alt="Folders" style="width:48px;height:48px;" />
                  <h3 class="pt-3 lh-base">Web3 Integrated Achievement System</h3>
                  <p class="mb-0">Our Web3 integrated NFT achievement system motivates users to use CancerScan to stay on top of cancer screening and health during treatment via the Goerli Ethereum test network.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6" style="padding-top: 48px;">
              <div class="border rounded-1 border-700 h-100 features-items">
                <div class="p-5"><img src="static/assets/img/icon-images-1/db.png" alt="Folders" style="width:48px;height:48px;" />
                  <h3 class="pt-3 lh-base">Encrypted Storage of Account Info</h3>
                  <p class="mb-0">All sensitive account info is hashed using Argon2 and Passlib, then stored utilizing an SQL database.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="mt-5">
        <div class="container">
          <div class="text-center">
            <div class="p-5 bg-primary rounded-3">
              <div class="py-3">
                <h4 class="opacity-50 ls-2 lh-base fw-medium">READY TO START</h4>
                <h2 class="mt-3 fs-4 fs-sm-7 latter-sp-3 lh-base fw-semi-bold">Start Using CancerScan Today</h2>
              </div>
              <div class="flex-center d-flex">
                <form action="./signup">
                <button class="btn btn-info">Get Started <span class="fas fa-arrow-right"></span></button>
              </form>
              </div>
            </div>
          </div>
        </div>
      </section>
        <div class="container" style="margin-bottom: 50px;">
          <div class="row">
            <div class="col-xl-5 pt-2 pt-xl-0 text-center text-xl-end" style="width: 100%;">
              <p class="mb-0" style="width: 50%; margin: 0 auto !important; position: relative; right: 5%;">&copy; CancerScan. All Rights Reserved. Designed by the CancerScan team.</p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="static/vendors/@popperjs/popper.min.js"></script>
    <script src="static/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="static/vendors/is/is.min.js"></script>
    <script src="static/vendors/swiper/swiper-bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
    <script src="static/assets/js/theme.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400&amp;display=swap" rel="stylesheet">
  </body>
</html>
{% endblock %}